<div style="margin-left: 30%;">
    <mat-card class="example-card">
        <mat-card-header>
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>Crie uma Liga</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
        </mat-card-header>
        <img mat-card-image src="./../../assets/images/competicaoCSGO.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <p>
                Dispute o primeiro lugar do ranking de pontos corridos com seus amigos!
            </p>
        </mat-card-content>
        <div style="margin-bottom: 10%;">
            <mat-card-actions style="text-align: center;">
                <button mat-flat-button color="accent" style="margin-right: 10px;" (click)="criarLiga()">CRIAR LIGA CLÁSSICA</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>