.cartola-campinho {
    display: inline-block;
    height: 685px;
    width: 500px;
    left: -20px;
    margin: 0;
}
.foto {
    background: url("../../assets/images/PRETO2.jpg") !important;
    width: 400px;
    height: 600px;
}
.espaco-esquerda {
    margin-left: 40%;
}
.grid-geral {
    display: inline-block;
    height: 200px;
    width:  1000px;
    left: 20px;
    margin: 0;
}

.container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.card {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    border-radius: 15px;
    /* box-shadow: 0 0 8px 0 rgba(0,0,0, 0.3); */
    display: inline-block;
    height: 210px;
    width:  155px;
    left: 20px;
    margin: 0;

}

.card:hover .flip{
    transform: rotateY(180deg);
  }
  
  .front-card, .back-card{
    position: absolute;
    backface-visibility: hidden;
  }
.margin55{
    margin-right: 55px;
}

.efeito:hover {
    height: 63px;
    width: 63px;
    color: rgba(0, 0, blue, 0.3);
    transition-delay: 1s;
}

.align-right {
    direction: rtl;
  }

.ajuste-nome {
    display:flex;
    align-items: center;
}
.fundo{
    background-color: #2E2E2E;
}