<div fxLayout="row" fxLayoutWrap="wrap">

    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>SUA ESCALAÇÃO</mat-card-title>
                <div class="mat-elevation-z8">
                    <div style="margin-top: 5px; padding: 20px 0;" class="container">

                        <div style=" margin-left: 5px;" class="card margin55">
                            <div *ngIf="!showImages[0]" style="margin-top: 45%; margin-left: 30%;">
                                <button mat-fab color="primary" class="efeito" (click)="moverTela(escalacao)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <img *ngIf="showImages[0]" [src]="time[0].imagemJogadorCard"
                                style="width:155px; height: 210px; border-radius: 15px;">
                        </div>

                        <div style="margin-left: 5px;" class="card margin55">
                            <div *ngIf="!showImages[1]" style="margin-top: 45%; margin-left: 30%;">
                                <button class="efeito" mat-fab color="primary" (click)="moverTela(escalacao)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <img *ngIf="showImages[1]" [src]="time[1].imagemJogadorCard"
                                style="width:155px; height: 210px; border-radius: 15px;">
                        </div>

                        <div style="margin-left: 5px;" class="card margin55">
                            <div *ngIf="!showImages[2]" style="margin-top: 45%; margin-left: 30%;">
                                <button class="efeito" mat-fab color="primary" (click)="moverTela(escalacao)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <img *ngIf="showImages[2]" [src]="time[2].imagemJogadorCard"
                                style="width:155px; height: 210px; border-radius: 15px;">
                        </div>

                        <div style="margin-left: 5px;" class="card margin55">
                            <div *ngIf="!showImages[3]" style="margin-top: 45%; margin-left: 30%;">
                                <button class="efeito" mat-fab color="primary" (click)="moverTela(escalacao)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <img *ngIf="showImages[3]" [src]="time[3].imagemJogadorCard"
                                style="width:155px; height: 210px; border-radius: 15px;">
                        </div>

                        <div style="margin-left: 5px;" class="card margin55">
                            <div *ngIf="!showImages[4]" style="margin-top: 45%; margin-left: 30%;">
                                <button class="efeito" mat-fab color="primary" (click)="moverTela(escalacao)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                            <img *ngIf="showImages[4]" [src]="time[4].imagemJogadorCard"
                                style="width:155px; height: 210px; border-radius: 15px;">
                        </div>
                    </div>
                </div>
                <div style="margin-top: 40px; margin-left: 60%;">
                    <div style="display: flex;">
                        <mat-card-title style="margin-right: 10px;">Saldo : </mat-card-title>
                        <div> <b> {{saldo | currency:'C$ ':true:'1.2-2'}} </b> </div>
                    </div>
                    <div style="display: flex;">
                        <mat-card-title style="margin-right: 10px;">Preço do time : </mat-card-title>
                        <div> <b> {{ precoTime | currency:'C$ ':true:'1.2-2' }} </b></div>
                    </div> <br>
                    <div >
                        <button mat-flat-button color="primary" style="margin-right: 10px;" (click)="confirmarEscalacao()">CONFIRMAR ESCALAÇÃO</button>
                        <button mat-flat-button color="warn" (click)="venderTime()">VENDER TODO TIME</button>
                    </div>
                    <!-- <button mat-flat-button color="warn" (click)="teste()">TESTE</button> -->
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- ====================================================-- TABELA DO MERCADO ============================================================-->
<div> 
    <mat-card >
        <mat-card-content>
            <mat-card-title>MERCADO</mat-card-title>
            <div class="mat-elevation-z8" >
                <section #escalacao >
                    <table mat-table [dataSource]="table" style="width: 100%; padding: 0 20px;">
                        <ng-container matColumnDef="imagemTime">
                            <th mat-header-cell *matHeaderCellDef> TIME </th>
                            <td mat-cell *matCellDef="let element"> <img [src]="element.time.imagemTime">
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="jogador">
                            <th mat-header-cell *matHeaderCellDef> JOGADOR </th>
                            <td mat-cell *matCellDef="let element" class="ajuste-nome">
                                <img [src]="element.imagemJogadorAvatar" style="margin-right: 20px;">

                                {{ element.nome }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="preco">
                            <th mat-header-cell *matHeaderCellDef> PREÇO </th>
                            <td mat-cell *matCellDef="let element"> {{ " C$ " + element.preco }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="rating" >
                            <th mat-header-cell *matHeaderCellDef  > RATING </th>
                            <td mat-cell *matCellDef="let element"> {{ element.rating }}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="acoes" >
                            <th mat-header-cell *matHeaderCellDef class="align-right"> </th>
                            <td mat-cell *matCellDef="let element" class="align-right"> <button mat-raised-button color="primary"
                                    (click)="addJogadorTime(element)" [disabled]="timeCompleto "> COMPRAR </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
                </section>
            </div>
        </mat-card-content>
    </mat-card>
</div>


<!--========================================================== DIV DO ESTILO CAMPINHO IGUAL DO CARTOLA=====================--->
<!-- <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>SUA ESCALAÇÃO</mat-card-title>
                <div style="margin-top:2%;" class="cartola-campinho foto">
                    <div style="margin-top: 10%;" class="example-button-container">
                        <button class="espaco-esquerda " mat-fab color="primary"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <div style="margin-left: 20%; margin-top: 40%;" class="example-button-container">
                        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button style="margin-left: 10%;" mat-fab color="primary"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>add</mat-icon>
                        </button>
                        <button style="margin-left: 10%;" mat-fab color="primary"
                            aria-label="Example icon button with a delete icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div style="margin-left: 40%; margin-top: 40%;" class="example-button-container">
                        <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div> -->
<!--===============================================================================================================================-->
<!-- <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>SUA ESCALAÇÃO</mat-card-title>
                <div style="margin-top:2%;" class="cartola-campinho foto">

                </div>
            </mat-card-content>
        </mat-card>
    </div> -->
<!-- Card column -->