<div class="login-register">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form">
                    <div class="text-center">
                        <h4 class="m-t-0"> Registre-se </h4>
                    </div>
                    <div fxLayout="row wrap">

                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="text" placeholder="Nome" [formControl]="form.controls['name']">
                            </mat-form-field>
                            <small *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
                                class="text-danger support-text">Digite seu nome.</small>
                        </div>

                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="text" placeholder="E-mail" [formControl]="form.controls['email']">
                            </mat-form-field>
                            <small *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                                class="text-danger support-text">Digite seu email.</small>
                        </div>

                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput type="password" placeholder="Senha" [formControl]="form.controls['password']">
                            </mat-form-field>
                            <small
                                *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched"
                                class="text-danger support-text">Digite sua senha.</small>
                        </div>

                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field style="width: 100%">
                                <input matInput placeholder="Confirme Senha" type="password" [formControl]="form.controls['confirmPassword']">
                            </mat-form-field>
                            <small
                                *ngIf="form.controls['confirmPassword'].hasError('required') && form.controls['confirmPassword'].touched"
                                class="text-danger support-text">Você deve incluir a senha de confirmação.</small>
                            <small *ngIf="form.controls['confirmPassword'].errors?.equalTo"
                                class="text-danger support-text">Senha não encontrada</small>
                        </div>

                        <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20"
                          (click)="cadastrar()" type="submit" [disabled]="!form.valid">crie sua conta</button>

                        <br><br><br>
                        <div class="text-center" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <span>já tem uma conta?
                                <a [routerLink]="['/login']" class="link text-info"> Login</a> 
                            </span>
                        </div>

                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>