<h1 mat-dialog-title>Criar Liga Clássica</h1>
<div mat-dialog-content>
    <div fxLayout="row wrap">
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field>
                <input matInput id="input" name="nomeLiga" placeholder="Nome da Liga" [(ngModel)]="liga.nomeLiga">
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field appearance="fill">
                <mat-label>Escolha a Liga Oficial</mat-label>
                <mat-select [(ngModel)]="liga.ligaOficial">
                    <mat-option *ngFor="let liga of ligasOficiais" [value]="liga">
                        {{liga.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
            <mat-form-field class="example-chip-list">
                <mat-label>Convide seus amigos colocando o e-mail aqui !</mat-label>
                <mat-chip-list #chipList aria-label="Convidado selection">
                    <mat-chip *ngFor="let convidado of convidados" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(convidado)">
                        {{convidado.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input placeholder="Novo convidado..." [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
            </mat-form-field>
            <!-- <div fxFlex.gt-sm="10" fxFlex.gt-xs="10" fxFlex="10" style="margin-top: 1rem; margin-left: 3rem;">
                <button mat-flat-button color="accent" (click)="convidarUsuario()" style="margin-right: 20px;"> Convidar
                </button>
            </div> -->
        </div>
        <div style="margin-left: 85%;">
            <mat-card-actions>
                <button mat-flat-button color="accent" (click)="criarLiga()">CRIAR
                    LIGA</button>
            </mat-card-actions>
        </div>
    </div>

</div>