        
<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<a style="margin-right: 10%;" mat-raised-button color="accent">VIRE PRO</a>
<a href="" style="padding-right: 1rem;"> <mat-icon>notifications </mat-icon> </a>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5" style="margin-right: 20px;"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>settings</mat-icon> Configurações </button>
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> Perfil </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Desativar Notificações </button>
    <button mat-menu-item [routerLink]="['/login']">
        <mat-icon>exit_to_app</mat-icon> Sair </button>
</mat-menu>


