.example-card {
    max-width: 400px;
  }

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.fundo{
    background-color: #2E2E2E;
}
  